pandas
os
wikipediaapi
random
transformers
nltk
#nltk.download('punkt')
#nltk.download('averaged_perceptron_tagger')
re
requests
scipy
ordered_set
json
wordfilter
PIL
google_image_api
pygame
random
sys